* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: none;
  user-select: none;
  font-family: sans-serif;
}

body {
  background: #020617;
  overflow: hidden;
}

/* VIEW */
#viewport {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* MAP */
#map {
  width: 2200px;
  height: 1400px;
  background: linear-gradient(#166534, #052e16);
  position: absolute;
}

/* HERO */
#hero, #enemy {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  position: absolute;
}
#hero {
  background: #38bdf8;
  box-shadow: 0 0 15px #38bdf8;
}
#enemy {
  background: #ef4444;
}

/* BASE */
.base {
  width: 120px;
  height: 120px;
  background: #2563eb;
  border-radius: 16px;
  position: absolute;
}
.base.enemy {
  background: #b91c1c;
}

/* TOWER */
.tower {
  width: 50px;
  height: 50px;
  background: gold;
  border-radius: 10px;
  position: absolute;
}

/* JUNGLE */
#jungle {
  width: 50px;
  height: 50px;
  background: crimson;
  border-radius: 50%;
  position: absolute;
}

/* MINION */
.minion {
  width: 24px;
  height: 24px;
  background: #a3e635;
  border-radius: 50%;
  position: absolute;
}

/* BULLET */
.bullet {
  width: 10px;
  height: 10px;
  background: orange;
  border-radius: 50%;
  position: absolute;
}

/* UI */
#gold {
  position: fixed;
  top: 10px;
  left: 10px;
  color: gold;
  font-size: 20px;
}
#status {
  position: fixed;
  top: 40px;
  left: 10px;
  color: white;
}

/* JOYSTICK */
#joystick {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,.15);
  border-radius: 50%;
}
#stick {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,.8);
  border-radius: 50%;
  position: absolute;
  left: 35px;
  top: 35px;
}

/* ACTION */
#action {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#action button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  background: radial-gradient(circle, #2563eb, #1e40af);
  color: white;
}

/* SHOP */
#shop {
  position: fixed;
  top: 80px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#shop button {
  padding: 8px;
  border-radius: 8px;
  border: none;
}
