* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: none;
  user-select: none;
}

body {
  background: #020617;
  overflow: hidden;
}

#viewport {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#map {
  width: 2000px;
  height: 1200px;
  position: absolute;
  background: linear-gradient(#14532d, #052e16);
}

/* HERO */
#hero, #enemyHero {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  position: absolute;
}

#hero {
  background: #38bdf8;
  box-shadow: 0 0 15px #38bdf8;
}

#enemyHero {
  background: #ef4444;
  box-shadow: 0 0 15px #ef4444;
}

/* TURRET */
#turret {
  width: 60px;
  height: 60px;
  background: gold;
  border-radius: 10px;
  position: absolute;
}

/* MINION */
.minion {
  width: 26px;
  height: 26px;
  background: #a3e635;
  border-radius: 50%;
  position: absolute;
}

/* BULLET */
.bullet {
  width: 10px;
  height: 10px;
  background: orange;
  border-radius: 50%;
  position: absolute;
}

/* UI */
#gold {
  position: fixed;
  top: 10px;
  left: 10px;
  color: gold;
  font-size: 20px;
}

/* JOYSTICK */
#joystick {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(255,255,255,0.15);
}
#stick {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.8);
  border-radius: 50%;
  position: absolute;
  left: 35px;
  top: 35px;
}

/* ACTION */
#action {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#action button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 24px;
  border: none;
}
